body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#my_canvas {
    border: 1px solid black;
    background-color: beige;
    width: 80vw;
    height: 80vh;
}